Compose file set:

  {{ ccontrol_config.compose_file }}
{% if ccontrol_config.excluded_services %}
Services excluded from logging:
{% for service in ccontrol_config.excluded_services %}
  {{ service }}
{%- endfor %}
{% endif %}
To reset the compose file, please run:

  ccontrol configure -f path/to/docker-compose.yml
